@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.animate-scroll {
  animation: scroll 20s linear infinite;
}




*{
    font-family: 'Poppins',sans-serif;
  }
  
  header ul li{
    @apply px-5;
  }

.mobile-nav{
    @apply fixed top-14  right-0 bg-white  w-1/4 h-full  content-end;
  }
  .mobile-nav li {
    @apply w-full text-center hover:bg-blue-700  hover:text-white bg-slate-300  h-full  ;
  }
  
  .mobile-nav div{
    @apply content-center
  }

  .nav-style{
    @apply  rounded-sm hover:bg-violet-900 hover:text-white px-3 duration-300 py-2
  }
  .bg-nav{
    @apply bg-white drop-shadow-lg;
  }